---
import { SITE_NAME } from '../consts';
---
<footer class="py-6.25 border-t-1 border-gray-200 c-gray-600 grid place-content-center gap-[1ch] grid-cols-[repeat(3,auto)]">
    <span class="grid-col-[span_1]">&copy;Adu 2016 - 2025</span>
    <span class="grid-col-[span_1]">&mdash;</span>
    <span class="grid-col-[span_1]">京ICP备19043708号-4</span>
</footer>