---
/**
 * DO NOT COMMIT YET
 * @TODO find a component library to handle this
 */
const modes = ['light','dark'];
let activeMode = Astro.cookies.get('mode')?.value;
if (modes.indexOf(activeMode as string) === -1) {
    activeMode = modes[0];
}
---
<button data-c="modeToggle" data-mode={activeMode} class:list={[activeMode]}>
    <span class="dark:hidden light:block">☀️</span>
    <span class="dark:block light:hidden">🌙</span>
</button>
<script>
    document.addEventListener('click', ({ target }) => {
        const btn = (target as HTMLElement).closest('[data-c="modeToggle"]');
        if (!btn) return;

        const currentMode = btn.classList.contains('light') ? 'light' : 'dark';
        const nextMode = currentMode === 'light' ? 'dark' : 'light';

        btn.classList.toggle('light');
        btn.classList.toggle('dark');
        
        document.documentElement.classList.toggle('light');
        document.documentElement.classList.toggle('dark');
        
        document.cookie = `mode=${nextMode}; path=/; max-age=31536000`; // 1 year
    });
</script>